.Rproj.user
SCRATCH.R
inst/doc
_projr.yml
_tmp/**/*
_tmp/*
_tmp
/doc/
/Meta/
_scratch/VERSION
git_diff_output.txt
check_output.log
docs/

*.tar.gz
*.Rcheck
..Rcheck/
test_debug_output.R

# Test and check output files
test_output.txt
test_lite_output.txt
test_debug.txt
check_output.txt
final_check_output.txt
full_test_output.txt
*.Rcheck/
*.tar.gz
_raw_data/
