name: R-CMD-check

on:
  workflow_dispatch:
    inputs:
      runner_set:
        description: "Which runners to use"
        type: choice
        required: true
        default: ubuntu
        options:
          - ubuntu
          - all
  # push:
  #   branches: [main]

permissions: read-all

jobs:
  R-CMD-check:
    timeout-minutes: 45
    runs-on: ${{ matrix.config.os }}
    name: ${{ matrix.config.os }} (R ${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config: ${{ fromJSON(
          (github.event_name == 'workflow_dispatch' && github.event.inputs.runner_set == 'all')
          && '[
                {"os":"ubuntu-latest","r":"release"},
                {"os":"windows-latest","r":"release"},
                {"os":"macos-latest","r":"release"},
                {"os":"ubuntu-latest","r":"devel","http-user-agent":"release"},
                {"os":"ubuntu-latest","r":"oldrel-1"}
              ]'
          || '[
                {"os":"ubuntu-latest","r":"release"}
              ]'
        ) }}

    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GITHUB_PAT: ${{ secrets.GH_TOKEN }}
      R_KEEP_PKG_SOURCE: yes
      R_PKG_TEST_LITE: true
      # OSF_PAT: ${{ secrets.OSF_PAT }}

    steps:
      - name: Debug env tokens
        shell: bash
        run: |
          for var in GITHUB_TOKEN GITHUB_PAT; do
            val="${!var}"
            if [ -n "$val" ]; then
              echo "$var is set (length=${#val})"
            else
              echo "$var is NOT set"
            fi
          done

      - uses: actions/checkout@v4
      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check

      - uses: quarto-dev/quarto-actions/setup@v2
        with:
          tinytex: false

      - uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true
